/* SCSS HEX */
$silver: #AAABABff;
$isabelline: #F4F2F0ff;
$hover-orange:#FB6107;
$design-yellow: #F3DE2C;
$design-blue: #59C3C3;
$dev-purple: #7F7EFF;


// @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,600&display=swap');