/* SCSS HEX */
$isabelline: #edede9ff;
$timberwolf: #d6ccc2ff;
$linen: #f5ebe0ff;
$champagne-pink: #e3d5caff;
$pale-dogwood: #d5bdafff;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');