@import 'responsive';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;


    a {
        text-decoration: none;
    }

    // nav and logo
    .flex-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 40px 40px 0;

        #logo {
            margin-right: auto;
            font-size: 20px;
        }

        li {
            list-style: none;
            display: inline-block;
            padding: 0 20px;
            font-size: 16px;
            color: $silver;
        }

        a:hover {
            font-weight: 600;
            color: $hover-orange;
        }
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        margin: 0 40px;
        overflow: hidden;

        h4 {
            color: $silver;
            font-weight: 400;

            .purple {
                color: $dev-purple;
                cursor: pointer;
            }

            .purple:hover, .blue:hover {
                font-weight: 600;
            }

            .blue {
                color: $design-blue;
                cursor: pointer;
            }
        }
    }

    .flex-container-portfolio {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap;
        margin: 0 30px;

        .flex-item {
            height: 500px;
            width: 500px;
            background-color: $isabelline;
            margin: 10px;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            overflow: hidden;
          }

          img {
            display: flex;
            width: 80%;
            align-items: center;
            justify-content: center;
            margin: 50px auto;
          }
    }

    .flex-container-footer {
        display: flex;
        margin: 30px 40px 30px;
        justify-content: flex-end;


        i {
            color: $silver;
        }

        i:hover {
            color: $hover-orange;
            cursor: pointer;
        }
    }
  }