@import 'responsive';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;

    // nav and logo
    .flex-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 50px;
        
        nav {
            background: $isabelline;
        }

        #logo {
            margin-right: auto;
            font-size: 20px;
        }

        li {
            list-style: none;
            display: inline-block;
            padding: 0 20px;
        }

        a {
            text-decoration: none;
        }
    }

    // section one
    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;

        .flex-item {
            height: 200px;
            width: 200px;
            background: $linen;
            border: #ccc solid 2px;
            margin: 10px;
            padding: 10px;
            text-align: center;
          }
    
    // section three contact
        form {
            margin-top: 60px;

            input {
                font-family: inherit;
            }
        }
      }
  }